In [2]:
# Import libraries

from bs4 import BeautifulSoup
import urllib.request as ureq
from urllib.request import urlopen
import urllib.parse, urllib.error
import requests
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import pandas as pd
import numpy as np
import time

In [5]:
searched_words = ['Data-Scientist-jobs','Data-Science-jobs','Data-Analyst-jobs']
indeed_url = 'https://www.seek.com.au/'
pages = list(range(1,10))

# Concatenate base_url, searched word values and page numbers to define the url for all pages

searched_url_all = [str(indeed_url) + words + '/in-All-Melbourne-VIC?page=' + str(i) for i in pages for words in searched_words]
searched_url_150k = [str(indeed_url) + words + '/in-All-Melbourne-VIC?page=' + str(i) + '&salaryrange=150000-999999&salarytype=annual' for i in pages for words in searched_words]
searched_url_100k = [str(indeed_url) + words + '/in-All-Melbourne-VIC?page=' + str(i) + '&salaryrange=100000-999999&salarytype=annual' for i in pages for words in searched_words]

In [6]:
# Scrape searched urls and save as BeautifulSoup objects

soup_objects = []

for urls in searched_url_100k:
    soup = BeautifulSoup(ureq.urlopen(urls), "lxml")
    soup_objects.append(soup)
    
# Extract all job ids and append to job_ids

job_ids = []

for soup in soup_objects:
    job_id = Selector(text=soup.prettify()).xpath('//article/@data-job-id').extract()
    
    for ids in job_id:
        job_ids.append(ids)
len(job_ids)

# Extract individual urls for each job_id

job_base_url = 'https://www.seek.com.au/job/'

# Concatenate base_url and job_id values to define the url for each job ad

job_id_url = [job_base_url + x for x in job_ids]

len(job_id_url)

# Extract soup objects from each job_id

job_soup_objects = []

for job_urls in job_id_url:
    soups = BeautifulSoup(ureq.urlopen(job_urls), "lxml")
    job_soup_objects.append(soups)
    time.sleep(1)

len(job_soup_objects)

232

In [7]:
# Extract required elements from all the individual job_id_url

job_advertiser_list = []
job_title_list = []
job_class_list = []
job_sub_class_list = []
job_type_list = []
job_location_list = []
job_post_date_list = []
job_salary_list = []
job_desc_list = []

for job_soup in job_soup_objects:
    
    ext_job_advertiser = Selector(text=job_soup.prettify()).xpath('//div/h2/span[2]/span/text()').extract()
    job_advertiser_list.append(ext_job_advertiser)
    
    ext_job_title = Selector(text=job_soup.prettify()).xpath('//span/span/h1/text()').extract()
    job_title_list.append(ext_job_title)
    
    ext_job_class = Selector(text=job_soup.prettify()).xpath('//aside/span/div[2]/div/section/dl/div[2]/dd/span/span/strong/text()').extract()
    job_class_list.append(ext_job_class)
    
    ext_job_sub_class = Selector(text=job_soup.prettify()).xpath('//aside/span/div[2]/div/section/dl/div/dd/span/span/span/text()').extract()
    job_sub_class_list.append(ext_job_sub_class)
    
    ext_job_type = Selector(text=job_soup.prettify()).xpath('//aside/span/div[2]/div/section/dl/dd[3]/span/span').extract()
    job_type_list.append(ext_job_type)
    
    ext_job_location = Selector(text=job_soup.prettify()).xpath('//aside/span/div[2]/div/section/dl/dd[2]/span/span/strong').extract()
    job_location_list.append(ext_job_location)
    
    ext_job_post_date = Selector(text=job_soup.prettify()).xpath('//article/div/div[2]/div/section/dl/dd[1]/span/span').extract()
    job_post_date_list.append(ext_job_post_date)
    
    ext_job_salary = Selector(text=job_soup.prettify()).xpath('//aside/span/div[2]/div/section/dl/div[1]/dd/span/span').extract()
    job_salary_list.append(ext_job_salary)
    
    ext_job_desc = Selector(text=job_soup.prettify()).xpath('//article/div/div/div/span/div/div/div/div/div').extract()
    job_desc_list.append(ext_job_desc)
    
print(len(job_advertiser_list))
print(len(job_title_list))
print(len(job_class_list))
print(len(job_sub_class_list))
print(len(job_type_list))
print(len(job_location_list))
print(len(job_post_date_list))
print(len(job_salary_list))
print(len(job_desc_list))

232
232
232
232
232
232
232
232
232

In [8]:
 #Create DataFrame for all, med, high searches

med_df = pd.DataFrame(job_ids, columns =['job_ids'])
med_df['job_advertiser'] = job_advertiser_list
med_df['job_title'] = job_title_list
med_df['job_class'] = job_class_list
med_df['job_sub_class'] = job_sub_class_list
med_df['job_type'] = job_type_list
med_df['job_location'] = job_location_list
med_df['job_post_date'] = job_post_date_list
med_df['job_salary'] = job_salary_list
med_df['job_desc'] = job_desc_list

In [9]:
med_df.head(2)

,job_ids,job_advertiser,job_title,job_class,job_sub_class,job_type,job_location,job_post_date,job_salary,job_desc
0,36938016,[\n SEEK\n ],[\n Software Engineer\n ...,[\n Information & Communic...,"[\n , \n ...","[<span class=""lwHBT6d"">\n Fu...","[<strong class=""lwHBT6d"">\n ...","[<span class=""lwHBT6d"">\n 1...","[<span class=""lwHBT6d"">\n B...","[<div class=""templatetext"">\n ..."
1,37041659,[\n Xpand Group Pty Ltd\n ...,[\n Data Scientist\n ...,[],"[\n , \n ...","[<span class=""lwHBT6d"">\n Co...","[<strong class=""lwHBT6d"">\n ...","[<span class=""lwHBT6d"">\n 2...","[<span class="""">\n <strong ...","[<div class=""templatetext"">\n ..."

In [13]:
#Export dataframe to csv
#filepath = 'jobs_high.csv'
#high_df.to_csv(filepath, index=False)

In [14]:
#Export dataframe to csv
#filepath = 'jobs_all.csv'
#all_df.to_csv(filepath, index=False)

In [37]:
#Export dataframe to csv
filepath = 'jobs_med.csv'
med_df.to_csv(filepath, index=False)

In [38]:
import pandas as pd
all_df_csv = 'jobs_med.csv'
all_df = pd.read_csv(all_df_csv, encoding='iso-8859-1', index_col ='job_ids')

In [18]:
all_df.shape

(232, 9)

# Resubmit Part

# Cleaning  And EDA

In [39]:
# Clean job_advertiser

newAdvertisers=[]

for a in all_df.job_advertiser:
    try:
        s=a.split('\\n')[1].lstrip()
        #print(s)
        newAdvertisers.append(s)
    except:
        newAdvertisers.append('')
        
newAdvertisers[0:5]

['SEEK',
 'Xpand Group Pty Ltd',
 'Treasury Wine Estates',
 'FourQuarters Recruitment',
 'Greythorn Experis']

In [40]:
 #Clean job_title

new_job_title = []

for b in all_df.job_title:
    try:
        t=b.split('\\n')[1].lstrip()
        
        new_job_title.append(t)
    except:
        new_job_title.append('')
        
new_job_title[0:5]

['Software Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist']

In [22]:
# Clean job_class

new_job_class = []

for c in all_df.job_class:
    try:
        u=c.split('\\n')[1].lstrip()
        
        new_job_class.append(u)
    except:
        new_job_class.append('')
        
new_job_class[0:5]

['Information & Communication Technology',
 '',
 '',
 '',
 'Information & Communication Technology']

In [23]:
# Clean job_sub_class

new_job_sub_class = []

for d in all_df.job_sub_class:
    try:
        v=d.split('\\n')[2].lstrip()
        
        new_job_sub_class.append(v)
    except:
        new_job_sub_class.append('')
        
new_job_sub_class[0:5]

['Engineering - Software',
 'Other',
 'Mathematics, Statistics & Information Sciences',
 'Consultants',
 'Database Development & Administration']

In [24]:
# Clean job_type

new_job_type = []

for e in all_df.job_type:
    try:
        u=e.split('\\n')[1].lstrip()
        
        new_job_type.append(u)
    except:
        new_job_type.append('')
        
new_job_type[0:5]

['Full Time', 'Contract/Temp', 'Full Time', 'Full Time', 'Full Time']

In [43]:
# Add new salary column and populate values with '150k+' or '100-150k' or below_100k' to DataFrame
all_df['salary'] = 'below_100k'

# Add new cleaned newAdvertisers column to DataFrame
all_df['advertiser'] = newAdvertisers

# Add new cleaned new_job_title column to DataFrame
all_df['title'] = new_job_title

# Add new cleaned new_job_class column to DataFrame
all_df['class'] = new_job_class

# Add new cleaned new_job_sub_class column to DataFrame
all_df['sub_class'] = new_job_sub_class

# Add new cleaned new_job_type column to DataFrame
all_df['type'] = new_job_type

#all_df['job_desc'] = new_job_desc

In [44]:
all_df.columns

Index(['job_advertiser', 'job_title', 'job_class', 'job_sub_class', 'job_type',
       'job_location', 'job_post_date', 'job_salary', 'job_desc', 'salary',
       'advertiser', 'title', 'class', 'sub_class', 'type'],
      dtype='object')

In [27]:
 #Drop columns that are no longer required from DataFrame

#all_df.drop(all_df.iloc[:, 0:9], inplace=True, axis=1)

In [45]:
# Inspect columns and shape for all_df

print(all_df.columns)
print(all_df.shape)
all_df.head(1)

Index(['job_advertiser', 'job_title', 'job_class', 'job_sub_class', 'job_type',
       'job_location', 'job_post_date', 'job_salary', 'job_desc', 'salary',
       'advertiser', 'title', 'class', 'sub_class', 'type'],
      dtype='object')
(232, 15)

,job_advertiser,job_title,job_class,job_sub_class,job_type,job_location,job_post_date,job_salary,job_desc,salary,advertiser,title,class,sub_class,type
job_ids,,,,,,,,,,,,,,,
36938016,['\n SEEK\n '],['\n Software Engineer\n ...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,SEEK,Software Engineer,Information & Communication Technology,Engineering - Software,Full Time

In [46]:


all_df.drop_duplicates(keep='first', inplace=True)

In [47]:
all_df.columns

Index(['job_advertiser', 'job_title', 'job_class', 'job_sub_class', 'job_type',
       'job_location', 'job_post_date', 'job_salary', 'job_desc', 'salary',
       'advertiser', 'title', 'class', 'sub_class', 'type'],
      dtype='object')

In [48]:
all_df

,job_advertiser,job_title,job_class,job_sub_class,job_type,job_location,job_post_date,job_salary,job_desc,salary,advertiser,title,class,sub_class,type
job_ids,,,,,,,,,,,,,,,
36938016,['\n SEEK\n '],['\n Software Engineer\n ...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,SEEK,Software Engineer,Information & Communication Technology,Engineering - Software,Full Time
37041659,['\n Xpand Group Pty Ltd\n ...,['\n Data Scientist\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Xpand Group Pty Ltd,Data Scientist,,Other,Contract/Temp
37038983,['\n Treasury Wine Estates\n...,['\n Data Scientist\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Treasury Wine Estates,Data Scientist,,"Mathematics, Statistics & Information Sciences",Full Time
37023029,['\n FourQuarters Recruitmen...,['\n Data Scientist\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,FourQuarters Recruitment,Data Scientist,,Consultants,Full Time
37022915,['\n Greythorn Experis\n ...,['\n Senior Data Scientist\n...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Greythorn Experis,Senior Data Scientist,Information & Communication Technology,Database Development & Administration,Full Time
37022253,['\n Greythorn Experis\n ...,['\n Senior Data Scientist -...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Greythorn Experis,Senior Data Scientist - 12 month contract,,Other,Contract/Temp
37012533,['\n Xpand Group Pty Ltd\n ...,['\n Senior Data Scientist\n...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Xpand Group Pty Ltd,Senior Data Scientist,,Other,Full Time
36998552,['\n Talentpool Recruitment\...,['\n Data Scientist - $750 -...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Talentpool Recruitment,Data Scientist - $750 - $900/day,,Developers/Programmers,Contract/Temp
36963272,['\n FourQuarters Recruitmen...,['\n Data Scientist\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,FourQuarters Recruitment,Data Scientist,,Consultants,Full Time
36976978,['\n Allegro Recruitment Con...,['\n Data Scientists\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""jobtitle"">\n ...",below_100k,Allegro Recruitment Consulting,Data Scientists,,Consultants,Full Time
36946616,['\n Northbridge Recruitment...,['\n Lead Data Scientist\n ...,['\n Science & Technology\...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Northbridge Recruitment,Lead Data Scientist,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
36952125,['\n Airservices Australia\n...,['\n Data Scientist / Analys...,['\n Government & Defence\...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Airservices Australia,Data Scientist / Analyst,Government & Defence,Government - Federal,Full Time
36952123,['\n Airservices Australia\n...,['\n Data Scientist / Analys...,['\n Science & Technology\...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Airservices Australia,Data Scientist / Analyst,Science & Technology,Modelling & Simulation,Full Time
36952124,['\n Airservices Australia\n...,['\n Data Scientist / Analys...,['\n Science & Technology\...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Airservices Australia,Data Scientist / Analyst,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
36934685,['\n Talent Insights Group P...,['\n Data Scientist / Senior...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templogo"">\n ...",below_100k,Talent Insights Group Pty Ltd,Data Scientist / Senior Data Scientist,,"Mathematics, Statistics & Information Sciences",Full Time
36898924,['\n Bluefin Resources Pty L...,['\n Data Scientist\n ...,['\n Science & Technology\...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Bluefin Resources Pty Limited,Data Scientist,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
36896376,['\n FourQuarters Recruitmen...,['\n Data Scientist\n ...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,FourQuarters Recruitment,Data Scientist,Information & Communication Technology,Other,Full Time
36880321,['\n Finite IT Recruitment S...,['\n Data Scientist\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""jobtitle"">\n ...",below_100k,Finite IT Recruitment Solutions,Data Scientist,,Developers/Programmers,Full Time
36871902,['\n CSK Nexus Pty Ltd\n ...,['\n Data Scientist/Engineer...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,CSK Nexus Pty Ltd,Data Scientist/Engineer,,Other,Full Time
36867522,['\n Davidson Technology\n ...,['\n Senior Data Scientist\n...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""jobtitle"">\n ...",below_100k,Davidson Technology,Senior Data Scientist,,"Mathematics, Statistics & Information Sciences",Contract/Temp
37017205,['\n ANZ\n '],"['\n Senior Associate, Quant...",[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""jobtitle"">\n ...",below_100k,ANZ,"Senior Associate, Quantitative Analysis/Data S...",,Other,Full Time
37012530,['\n Xpand Group Pty Ltd\n ...,['\n Data Science Consultant...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Xpand Group Pty Ltd,Data Science Consultant,,Other,Full Time
37004822,['\n Capgemini\n ...,['\n Capability Lead - Data ...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Capgemini,Capability Lead - Data Science,Information & Communication Technology,Business/Systems Analysts,Full Time
37004177,['\n HCM Australia\n ...,['\n Data Science Consultant...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""exterior2"">\n ...",below_100k,HCM Australia,Data Science Consultant,,Other,Full Time
36957350,['\n HCM Australia\n ...,['\n Data Science Consultant...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""exterior2"">\n ...",below_100k,HCM Australia,Data Science Consultant,,Other,Full Time
36952112,[],"['\n Data Developer, Data Ar...",[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...",[],below_100k,,"Data Developer, Data Architect, Data Science, ...",,Consultants,Full Time
36895598,['\n Talent â Winner âSe...,['\n Data Science Lead\n ...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""jobtitle"">\n ...",below_100k,Talent â Winner âSeek Large Recruitment Ag...,Data Science Lead,Information & Communication Technology,Database Development & Administration,Full Time
36889548,['\n Suncorp\n ...,"['\n Senior Analyst , Data S...",[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Suncorp,"Senior Analyst , Data Science",,Business/Systems Analysts,Full Time
36840084,['\n Deakin University\n ...,['\n Lecturer or Senior Lect...,['\n Education & Training\...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Deakin University,Lecturer or Senior Lecturer in Data Science (x...,Education & Training,Teaching - Tertiary,Full Time
37008885,['\n Just Digital People\n ...,['\n Senior Ruby on Rails En...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Just Digital People,Senior Ruby on Rails Engineer,Information & Communication Technology,Developers/Programmers,Full Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36891989,['\n Mercer\n ...,['\n Senior Systems Design A...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Mercer,Senior Systems Design Analyst - Superannuation,,Superannuation,Full Time
36879331,['\n Altablue\n ...,['\n Corporate Tax Advisor\n...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Altablue,Corporate Tax Advisor,,Taxation,Contract/Temp
36867550,['\n Bluefin Resources Pty L...,['\n HR Analyst\n ...,['\n Human Resources & Rec...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Bluefin Resources Pty Limited,HR Analyst,Human Resources & Recruitment,Consulting & Generalist HR,Contract/Temp
36833884,['\n Manningham City Council...,['\n Senior Business Analyst...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Manningham City Council,Senior Business Analyst,,Business/Systems Analysts,Full Time
36833885,['\n Manningham City Council...,['\n Senior Business Analyst...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Manningham City Council,Senior Business Analyst,,Government - Local,Full Time
36830967,['\n ecareer employment serv...,['\n Senior lead Consultant ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,ecareer employment services,Senior lead Consultant - Data Governance & Dat...,,Consultants,Full Time
36926060,['\n Redwolf + Rosch\n ...,['\n Digital Business Analys...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Redwolf + Rosch,Digital Business Analyst (contract),Information & Communication Technology,Business/Systems Analysts,Contract/Temp
36891479,['\n The Walter and Eliza Ha...,['\n Senior Business Analyst...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,The Walter and Eliza Hall Institute,Senior Business Analyst and Test Lead - Data a...,,Other,Full Time
36813675,['\n AYAN INFOTECH PTY LTD\n...,['\n Dynamics CRM - Data Mig...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...",[],below_100k,AYAN INFOTECH PTY LTD,Dynamics CRM - Data Migration Lead - Melbourne,,Consultants,Contract/Temp
36820157,['\n FourQuarters Recruitmen...,['\n Data & Analytics Lead\n...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,FourQuarters Recruitment,Data & Analytics Lead,Information & Communication Technology,Database Development & Administration,Full Time
36813162,['\n Cognizant\n ...,['\n Big Data Lead\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Cognizant,Big Data Lead,,Team Leaders,Full Time
36833785,['\n Toll People (St Kilda)\...,['\n Commercial Analyst\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""tempmargin"">\n ...",below_100k,Toll People (St Kilda),Commercial Analyst,,Other,Contract/Temp
36794697,['\n Servian\n ...,['\n Software Engineer\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Servian,Software Engineer,,Engineering - Software,Full Time
36877676,['\n Clicks IT Recruitment\n...,['\n Senior Oracle Analyst D...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Clicks IT Recruitment,Senior Oracle Analyst Developer,,Developers/Programmers,Contract/Temp
36973180,['\n TwoScots Recruitment\n ...,['\n Systems Finance Analyst...,['\n Accounting\n ...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templogo"">\n ...",below_100k,TwoScots Recruitment,Systems Finance Analyst - SAP - Immediately Av...,Accounting,Analysis & Reporting,Contract/Temp
37004046,['\n Robert Walters\n ...,['\n Commercial Finance Anal...,['\n Accounting\n ...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Robert Walters,Commercial Finance Analyst- Marketing,Accounting,Analysis & Reporting,Full Time
36964249,[],['\n Senior Financial Analys...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...",[],below_100k,,Senior Financial Analyst,,Management Accounting & Budgeting,Full Time
36907062,['\n Robert Half Management ...,['\n Business Analyst | $550...,['\n Information & Communi...,"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<div class=""templatetext"">\n ...",below_100k,Robert Half Management Resources,Business Analyst | $550 | Utilities,Information & Communication Technology,Business/Systems Analysts,Contract/Temp
37045609,['\n City of Whitehorse\n ...,['\n Financial Planning and ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n F...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""tempside"">\n ...",below_100k,City of Whitehorse,Financial Planning and Analysis Accountant,,Government - Local,Full Time
36929373,['\n Vertical Talent\n ...,['\n Procurement Analyst\n ...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Vertical Talent,Procurement Analyst,,"Purchasing, Procurement & Inventory",Contract/Temp
37026407,['\n Randstad - Accounting\n...,['\n Commercial Analyst - Pa...,[],"['\n ', '\n ...","['<span class=""lwHBT6d"">\n C...","['<strong class=""lwHBT6d"">\n ...","['<span class=""lwHBT6d"">\n ...","['<span class="""">\n <strong...","['<div class=""templatetext"">\n ...",below_100k,Randstad - Accounting,Commercial Analyst - Partnering with ICT,,Management Accounting & Budgeting,Contract/Temp

In [50]:
# Clean jobs_desc column 

all_df.job_desc = all_df.job_desc.str.replace('[0-9]','') # removes digits
all_df.job_desc = all_df.job_desc.str.replace('/_/','') # removes words that starts with underscore _

In [52]:
# Create new DataFrame and dummify required categorical variables (except for job_desc and salary)
jobs_dummy = pd.get_dummies(all_df, columns = ['advertiser', 'class','sub_class', 'title','type'], drop_first = True)

In [53]:
# View salary values
jobs_dummy['salary'].unique()

array(['below_100k'], dtype=object)

In [54]:
jobs_dummy.insert(len(jobs_dummy), 'salary_range', 0)

In [55]:

jobs_dummy.loc[jobs_dummy['salary'] == '100-150k', 'salary_range'] = 1
jobs_dummy.loc[jobs_dummy['salary'] == '150k+', 'salary_range'] = 2       

# Print the count of each salary values
jobs_dummy['salary_range'].value_counts()

0    182
Name: salary_range, dtype: int64

# Modelling

In [56]:
y = jobs_dummy['salary_range']

In [57]:
# Define X as all variables except for salary and salary_range

X = jobs_dummy
X.drop(['salary', 'salary_range'], axis=1, inplace=True)
X.columns

Index(['job_advertiser', 'job_title', 'job_class', 'job_sub_class', 'job_type',
       'job_location', 'job_post_date', 'job_salary', 'job_desc',
       'advertiser_7 Eleven',
       ...
       'title_Systems Finance Analyst - SAP - Immediately Available',
       'title_Technical Business Analyst - Data',
       'title_Technical Business Analyst - Data Migration & Reporting',
       'title_Technical Business Analyst / Data Analyst',
       'title_Technical Lead - Data Platform',
       'title_Technical Project Manager', 'title_Technology & Data Director',
       'title_Test Analyst - Data Analytics - Melbourne', 'type_Full Time',
       'type_Part Time'],
      dtype='object', length=299)

In [58]:
# Split jobs_dummy to train and test sets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(121, 299) (121,)
(61, 299) (61,)

In [59]:
# Use TfidfVectorizer to extract features from jobs_desc column and fit to train (this is to be used only if vectorized jobs_desc is required for model)

from sklearn.feature_extraction.text import TfidfVectorizer

# Initialise TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(stop_words='english', token_pattern= '\w+')

# Fit and transform the training data

tfidf_train = tfidf_vectorizer.fit_transform(X_train['job_desc'])
print("train data " + str(tfidf_train.shape))

# Fit and transform the test data

tfidf_test = tfidf_vectorizer.transform(X_test['job_desc'])
print("test data " + str(tfidf_test.shape))

train data (121, 3896)
test data (61, 3896)

In [60]:
# Get the feature names of TfidfVectorizer (this is to be used only if vectorized jobs_desc is required for model))

tfidf_features = tfidf_vectorizer.get_feature_names()
print(tfidf_features)

['__base', '__top', '_b', '_b_base', '_blank', '_brkmzddy', '_h_header', '_hhdni', '_lqcj', 'aaai', 'abap', 'abilities', 'ability', 'able', 'aboriginal', 'absolute', 'absorbing', 'academic', 'academics', 'accelerates', 'accept', 'acceptable', 'acceptance', 'accepted', 'accepting', 'access', 'accessibility', 'accessible', 'accommodate', 'accomplish', 'accomplished', 'accordance', 'according', 'account', 'accountabilities', 'accountability', 'accountable', 'accounting', 'accounts', 'accuracy', 'accurate', 'accurately', 'achieve', 'achievement', 'achievements', 'achieving', 'acknowledged', 'acquire', 'acquired', 'acquisition', 'acquisitions', 'acrobat', 'act', 'action', 'actionable', 'actions', 'active', 'actively', 'activities', 'activity', 'acts', 'actuarial', 'acumen', 'ad', 'adapt', 'adapting', 'add', 'added', 'addition', 'additional', 'additionally', 'address', 'addressed', 'addresses', 'addressing', 'adept', 'adherence', 'adjusted', 'adjustments', 'administer', 'administering', 'administration', 'administrator', 'administrators', 'admissions', 'adobe', 'adoption', 'adore', 'advance', 'advanced', 'advancing', 'advantage', 'advantageous', 'adverse', 'advert', 'advertise', 'advertised', 'advertisement', 'advertising', 'advice', 'advise', 'advising', 'advisory', 'advocacy', 'advocate', 'aemo', 'aemoâ', 'aest', 'affairs', 'affecting', 'affects', 'affiliated', 'affordability', 'affordable', 'afforded', 'afraid', 'age', 'aged', 'agencies', 'agency', 'agenda', 'agent', 'ages', 'aggregate', 'agile', 'agility', 'aging', 'ago', 'agree', 'agreed', 'ahead', 'ahuja', 'ai', 'aid', 'aim', 'air', 'aircraft', 'airline', 'airports', 'airservices', 'airservicesaustralia', 'airspace', 'alarm', 'alcohol', 'alerting', 'alex', 'algorithmic', 'algorithms', 'align', 'aligned', 'aligning', 'alignment', 'aligns', 'alike', 'allison', 'allocation', 'allow', 'allowfullscreen', 'allowing', 'alongside', 'alt', 'alternative', 'alternatively', 'alumni', 'amazing', 'amazon', 'ambiguity', 'ambition', 'ambitious', 'america', 'aml', 'amounts', 'amp', 'analyse', 'analyses', 'analysing', 'analysis', 'analyst', 'analysts', 'analytic', 'analytical', 'analytically', 'analytics', 'analyticsâ', 'analyze', 'analyzing', 'ancillary', 'angular', 'annual', 'anomalies', 'ansible', 'answer', 'anticipate', 'anz', 'apac', 'apache', 'apart', 'apbnhclfyyqwebqrgznilegyseusayfwm_u_tsfmexmdqoou', 'api', 'apis', 'apiâ', 'app', 'appeal', 'appetite', 'applicable', 'applicant', 'applicants', 'application', 'applications', 'applied', 'appling', 'apply', 'applying', 'applyâ', 'appoint', 'appointing', 'appointment', 'appointments', 'approach', 'approaches', 'appropriate', 'appropriately', 'approval', 'approximately', 'apps', 'aptitude', 'ar', 'arc', 'arcaustralia', 'architect', 'architecting', 'architects', 'architecture', 'architectures', 'area', 'areas', 'arenâ', 'arisen', 'arises', 'arq', 'arqadians', 'arrange', 'arrangement', 'arrangements', 'art', 'articulate', 'articulating', 'artificial', 'asap', 'ashx', 'asia', 'asian', 'aside', 'aspect', 'aspects', 'aspiration', 'aspires', 'assemble', 'assess', 'assessment', 'assessments', 'asset', 'assets', 'assignment', 'assignments', 'assist', 'assistance', 'assistants', 'assisting', 'associate', 'associated', 'assurance', 'assuring', 'aster', 'astray', 'asx', 'athena', 'atl', 'attached', 'attaching', 'attainment', 'attention', 'attire', 'attitude', 'attract', 'attractive', 'attributes', 'au', 'auction', 'audience', 'audiences', 'audit', 'aug', 'augment', 'augmentation', 'august', 'aus', 'australia', 'australian', 'australians', 'australiansuper', 'australiansuperâ', 'australiaâ', 'authority', 'automate', 'automated', 'automating', 'automation', 'automotive', 'autonomous', 'autonomously', 'autonomy', 'autoplay', 'availability', 'available', 'avaya', 'average', 'aviation', 'avril', 'award', 'awards', 'awareness', 'away', 'awesome', 'aws', 'azure', 'b', 'ba', 'babel', 'babok', 'bachelor', 'backed', 'backend', 'backfill', 'backfilling', 'background', 'backgrounds', 'backup', 'badiâ', 'balance', 'bankers', 'banking', 'bankruptcy', 'bar', 'bart', 'base', 'based', 'bases', 'bash', 'basic', 'basis', 'basket', 'batch', 'bau', 'bayes', 'bayesian', 'bbbh', 'bear', 'beaton', 'beautiful', 'beauty', 'beeny', 'beginning', 'begins', 'behalf', 'behaviour', 'behavioural', 'behaviours', 'behemoth', 'believe', 'believes', 'belonging', 'benchmarks', 'beneficial', 'benefit', 'benefits', 'bespoke', 'best', 'better', 'bi', 'bias', 'bids', 'big', 'bigger', 'biggest', 'bigquery', 'billing', 'billion', 'bioinformatics', 'birth', 'birthday', 'bit', 'bleeding', 'blockchain', 'blogs', 'bloomberg', 'bluefinresources', 'bo', 'board', 'bodies', 'boils', 'bold', 'boldness', 'bonus', 'bonuses', 'book', 'boost', 'boosting', 'boring', 'boundaries', 'bout', 'boutique', 'box', 'boxâ', 'bp', 'bpc', 'br', 'branch', 'brand', 'brands', 'breadth', 'break', 'breath', 'breed', 'bridge', 'brief', 'brighter', 'brightest', 'brightness', 'brilliant', 'bring', 'bringing', 'brisbane', 'broad', 'broader', 'broker', 'bs', 'bsc', 'btl', 'btze_zaeybkoacclfztgpk', 'budget', 'budgets', 'build', 'building', 'buildings', 'builds', 'built', 'bulk', 'bureau', 'bureaucracy', 'burwood', 'business', 'businesses', 'businessâ', 'busy', 'button', 'buying', 'bw', 'c', 'cabinet', 'cafã', 'calendars', 'caliber', 'calibration', 'calibre', 'cameras', 'campaign', 'campaigns', 'campbell', 'campus', 'canberra', 'candidate', 'candidates', 'capabilities', 'capability', 'capability_development_analyst', 'capable', 'capacity', 'capgemini', 'capital', 'capture', 'captured', 'capturing', 'card', 'cards', 'care', 'career', 'careers', 'carers', 'caribbean', 'carried', 'carry', 'carrying', 'carve', 'case', 'cases', 'cash', 'casket', 'casual', 'catalysts', 'category', 'catriona', 'caulfield', 'causal', 'cause', 'causes', 'cave', 'cbd', 'cctv', 'cd', 'cdb', 'celebrated', 'cells', 'cent', 'center', 'centos', 'central', 'centre', 'centres', 'centric', 'certificate', 'certification', 'certifications', 'certified', 'challenge', 'challenged', 'challenges', 'challenging', 'champion', 'championing', 'chance', 'change', 'changes', 'changing', 'channel', 'channels', 'characterise', 'characteristics', 'charge', 'charis', 'charlie', 'charmaine', 'chart', 'charter', 'chat', 'chatterley', 'check', 'checking', 'checks', 'childcare', 'choice', 'choices', 'choose', 'ci', 'citipower', 'citizen', 'citizenship', 'city', 'claire', 'clarify', 'class', 'classes', 'classic', 'classification', 'clause', 'clayton', 'clean', 'cleaner', 'cleanse', 'cleansing', 'clear', 'clearance', 'clearly', 'click', 'clicking', 'clicks', 'client', 'clients', 'clientâ', 'climate', 'clinical', 'close', 'closely', 'closing', 'cloud', 'cloudera', 'cloudformation', 'cloudtrail', 'cloudwatch', 'clubs', 'cluster', 'clustering', 'cmms', 'cmo', 'cms', 'coach', 'coastline', 'cob', 'code', 'codes', 'codeâ', 'coding', 'coffee', 'cognitive', 'cogs', 'cohen', 'cohort', 'coles', 'collaborate', 'collaborating', 'collaboration', 'collaborative', 'collaboratively', 'colleagues', 'collect', 'collected', 'collecting', 'collection', 'collections', 'collective', 'collectively', 'color', 'com', 'combination', 'combined', 'come', 'comes', 'comfortable', 'coming', 'command', 'commence', 'commencement', 'commensurate', 'commentary', 'commerce', 'commercial', 'commercially', 'commit', 'commitment', 'commitments', 'committed', 'committees', 'common', 'commonly', 'commonplace', 'communicate', 'communicating', 'communication', 'communications', 'communicator', 'communities', 'community', 'companies', 'company', 'companyâ', 'comparing', 'compatibility', 'compelling', 'competence', 'competencies', 'competency', 'competent', 'competitive', 'competitiveness', 'competitors', 'compile', 'compiling', 'complaints', 'complete', 'completed', 'completing', 'completion', 'completions', 'complex', 'complexities', 'compliance', 'complicated', 'complies', 'comply', 'component', 'components', 'comprehensive', 'comprised', 'comprises', 'computational', 'compute', 'computer', 'computerised', 'computing', 'concept', 'concepts', 'conceptual', 'conceptualise', 'concerning', 'concessions', 'conciliation', 'concise', 'conditioners', 'conditions', 'conduct', 'conducting', 'conferences', 'confidence', 'confident', 'confidential', 'confidentiality', 'confidentially', 'confidently', 'configuration', 'configurations', 'configure', 'configuring', 'confirmed', 'conflicting', 'confluence', 'connect', 'connecting', 'connectivity', 'connects', 'conscientious', 'consecutive', 'consent', 'consider', 'consideration', 'considered', 'consistent', 'consistently', 'consolidate', 'consolidated', 'constant', 'constantly', 'constraint', 'constraints', 'construction', 'constructs', 'consult', 'consultancy', 'consultant', 'consultants', 'consultantwork', 'consulting', 'consumer', 'consumers', 'consumption', 'contact', 'contacted', 'contacts', 'contemporary', 'content', 'context', 'contingent', 'continual', 'continually', 'continuance', 'continue', 'continued', 'continues', 'continuing', 'continuous', 'contract', 'contribute', 'contributes', 'contributing', 'contribution', 'contributions', 'control', 'controlling', 'convenience', 'conversation', 'conversational', 'conversion', 'conversions', 'cool', 'cooper', 'cooperating', 'coordinate', 'coordination', 'copy', 'core', 'cornerstone', 'corporate', 'corporation', 'correcting', 'correctly', 'correctness', 'corresponding', 'cosmos', 'cost', 'costing', 'costs', 'council', 'councilâ', 'countermeasures', 'countless', 'countries', 'country', 'coupled', 'courage', 'course', 'courses', 'cover', 'covering', 'covers', 'cp', 'crack', 'cracker', 'craft', 'crates', 'create', 'created', 'creates', 'creating', 'creation', 'creative', 'creatively', 'creativity', 'credit', 'crime', 'criminal', 'criteria', 'criterion', 'critical', 'crm', 'cross', 'crucial', 'crunching', 'crystal', 'csiro', 'csknexus', 'css', 'cthum', 'cto', 'cubes', 'cuisine', 'cultivate', 'cultural', 'culturally', 'culture', 'cultures', 'curation', 'curiosity', 'curious', 'current', 'currently', 'curve', 'custom', 'customer', 'customers', 'customerâ', 'cutting', 'cv', 'cvs', 'cybersecurity', 'cycle', 'cycles', 'd', 'daily', 'dairy', 'dale', 'dama', 'dashboard', 'dashboards', 'data', 'database', 'databases', 'databricks', 'datadog', 'datasets', 'datastage', 'datawarehouse', 'date', 'dates', 'davidson', 'davidsonwp', 'day', 'days', 'db', 'dbs', 'dc', 'deadline', 'deadlines', 'deakin', 'deal', 'dealing', 'debt', 'debug', 'decade', 'decades', 'decipher', 'decision', 'decisioning', 'decisions', 'deemed', 'deep', 'deeper', 'deeply', 'defence', 'deficiencies', 'define', 'defined', 'defining', 'definite', 'definition', 'definitive', 'degree', 'delay', 'delays', 'deleting', 'deliberate', 'delight', 'deliver', 'deliverables', 'delivered', 'delivering', 'delivers', 'delivery', 'demand', 'demands', 'demonstrable', 'demonstrate', 'demonstrated', 'demonstrates', 'demonstrating', 'dentistry', 'department', 'departments', 'dependable', 'dependant', 'depending', 'deploy', 'deployed', 'deployment', 'depth', 'deputy', 'derive', 'derived', 'described', 'description', 'descriptive', 'design', 'designed', 'designing', 'designs', 'desirable', 'desire', 'desired', 'desk', 'despite', 'destination', 'destinations', 'detailed', 'detailing', 'details', 'detect', 'determination', 'determine', 'develop', 'developed', 'developer', 'developers', 'developing', 'development', 'developments', 'develops', 'device', 'devops', 'di', 'diagnose', 'diagrams', 'dialogue', 'dictionary', 'did', 'differ', 'difference', 'differences', 'different', 'differentiate', 'differentiation', 'differently', 'difficult', 'digital', 'dillon', 'dimensional', 'diploma', 'direct', 'directed', 'direction', 'directions', 'directly', 'director', 'disabilities', 'disability', 'disciplinary', 'discipline', 'disciplined', 'disciplines', 'disclosed', 'disclosure', 'discount', 'discounts', 'discover', 'discovering', 'discovery', 'discrepancies', 'discrete', 'discretion', 'discussing', 'discussion', 'discussions', 'dispatch', 'display', 'displayed', 'dispute', 'disseminate', 'distinguished', 'distributed', 'distributing', 'distribution', 'distributions', 'distributors', 'div', 'diverse', 'diversified', 'diversity', 'diving', 'division', 'divisions', 'divisionâ', 'dmbok', 'dna', 'doc', 'docker', 'docklands', 'document', 'documentation', 'documenting', 'documents', 'docx', 'does', 'doesn', 'doesnâ', 'doing', 'dollars', 'domain', 'domains', 'domestic', 'domo', 'don', 'door', 'doors', 'doorstep', 'doses', 'downtime', 'doâ', 'dpc', 'dramatic', 'draw', 'drawing', 'dream', 'drinks', 'drive', 'driven', 'driver', 'drivers', 'drives', 'driving', 'drug', 'drugs', 'dt', 'duplication', 'duration', 'duties', 'dw', 'dynamic', 'dynamics', 'e', 'eager', 'earlier', 'earn', 'easier', 'easily', 'east', 'eastern', 'easy', 'ec', 'eclipse', 'econometric', 'econometrics', 'economic', 'economics', 'economist', 'economy', 'ecosystem', 'edge', 'edition', 'edr', 'edu', 'education', 'educational', 'edykh', 'effective', 'effectively', 'effectiveness', 'efficiencies', 'efficiency', 'efficient', 'effort', 'efforts', 'egm', 'ek', 'elastic', 'electrical', 'electricity', 'electronic', 'elements', 'elicitation', 'eligibility', 'eligible', 'eliminating', 'elliott', 'em', 'email', 'embarked', 'embarking', 'embed', 'embedding', 'embrace', 'embraces', 'embracing', 'emerging', 'emissions', 'emphasis', 'emphasising', 'empirics', 'employee', 'employees', 'employer', 'employing', 'employment', 'employs', 'empower', 'empowering', 'empting', 'emr', 'enable', 'enabled', 'enablers', 'enables', 'enabling', 'encompassing', 'encourage', 'encouraged', 'encourages', 'encouraging', 'encrypted', 'end', 'endorsement', 'enduring', 'energetic', 'energising', 'energy', 'energyaustralia', 'engage', 'engaged', 'engagement', 'engagements', 'engaging', 'engendering', 'engineer', 'engineering', 'engineers', 'engines', 'english', 'enhance', 'enhanced', 'enhancements', 'enjoy', 'enjoyable', 'enjoys', 'enormous', 'enquiries', 'enrich', 'ensembling', 'ensure', 'ensures', 'ensuring', 'entailâ', 'entered', 'entering', 'enterprise', 'enterprising', 'entertainment', 'enthusiasm', 'enthusiast', 'enthusiastic', 'enthusiasts', 'entire', 'entitlements', 'entrepreneurial', 'entrepreneurialism', 'entry', 'environment', 'environmentally', 'environments', 'equal', 'equality', 'equally', 'equipment', 'equity', 'equivalent', 'erim', 'erps', 'especially', 'essential', 'essentially', 'establish', 'established', 'establishing', 'estate', 'estimate', 'estimating', 'ethical', 'ethisphere', 'ethnic', 'etl', 'etrm', 'evaluate', 'evaluated', 'evaluating', 'evaluation', 'evaluations', 'evangelist', 'event', 'events', 'everyday', 'evidence', 'evolution', 'evolutionspecialists', 'evolve', 'evolving', 'exadata', 'examination', 'examine', 'example', 'excel', 'excellence', 'excellent', 'exceptional', 'excess', 'excited', 'excitement', 'exciting', 'exclude', 'execs', 'executable', 'execute', 'executing', 'execution', 'executive', 'executives', 'exercise', 'exhibit', 'exist', 'existing', 'exists', 'exotic', 'expand', 'expanding', 'expansion', 'expect', 'expectations', 'expected', 'experience', 'experienced', 'experiences', 'experiencing', 'experiment', 'experimentation', 'experimenting', 'experiments', 'experis', 'expert', 'expertise', 'experts', 'explanation', 'exploratory', 'explore', 'explored', 'exponentially', 'export', 'expose', 'exposed', 'exposure', 'express', 'ext', 'extend', 'extension', 'extensive', 'extensively', 'external', 'extra', 'extract', 'extracting', 'extraction', 'eye', 'fabulous', 'face', 'facets', 'facilitate', 'facilitating', 'facilitation', 'facilities', 'facing', 'fact', 'factor', 'factors', 'factory', 'factset', 'faculty', 'fail', 'failures', 'fairness', 'familiar', 'familiarity', 'families', 'family', 'fantastic', 'farrey', 'fashion', 'fast', 'faster', 'feasibility', 'feature', 'features', 'feb', 'february', 'fed', 'fee', 'feedback', 'feel', 'fees', 'felicity', 'fellow', 'fellows', 'female', 'field', 'fields', 'fighting', 'file', 'filters', 'finance', 'financial', 'financier', 'finding', 'findings', 'fine', 'finest', 'finger', 'fintech', 'fiona', 'firm', 'firms', 'fit', 'fitness', 'fits', 'fixed', 'flashcontent', 'flat', 'flatflles', 'fleet', 'flexibility', 'flexible', 'flexibly', 'flourish', 'flow', 'flowcharts', 'flowing', 'flows', 'fluency', 'flume', 'flyer', 'fm', 'fmcg', 'fobr', 'focus', 'focused', 'focuses', 'focusing', 'focussed', 'follow', 'following', 'font', 'fonterra', 'food', 'foot', 'footage', 'footprint', 'force', 'forecasting', 'forecasts', 'forefront', 'foremost', 'forensic', 'forensics', 'forests', 'form', 'formal', 'format', 'formation', 'forms', 'formulas', 'formulate', 'formulating', 'forward', 'foster', 'fostering', 'foundation', 'founded', 'fourquarters', 'fragmented', 'frameborder', 'frames', 'framework', 'frameworks', 'fraud', 'free', 'freedom', 'frequencies', 'frequency', 'freshly', 'friday', 'friendly', 'friends', 'frustrations', 'fuel', 'fulfilling', 'fully', 'fun', 'function', 'functional', 'functionality', 'functionally', 'functions', 'fund', 'fundamentally', 'funded', 'funding', 'funky', 'fuse', 'future', 'futures', 'fwgieli', 'g', 'gain', 'gained', 'gaining', 'gallo', 'gambling', 'gaming', 'gap', 'gaps', 'gas', 'gateways', 'gather', 'gathering', 'gauging', 'gd', 'gdl', 'gdp', 'gems', 'gender', 'general', 'generate', 'generated', 'generating', 'generation', 'generations', 'generator', 'generators', 'generosity', 'generous', 'genuine', 'geospatial', 'geraint', 'gets', 'getting', 'gis', 'git', 'github', 'given', 'gives', 'giving', 'gl', 'global', 'globally', 'globe', 'glue', 'gm', 'goal', 'goals', 'goes', 'going', 'gold', 'golden', 'good', 'goodness', 'goods', 'google', 'got', 'gould', 'gov', 'govern', 'governance', 'government', 'graduate', 'grants', 'graphicdetail', 'great', 'greater', 'greatest', 'green', 'greg', 'gregory', 'greythorn', 'grid', 'ground', 'grounding', 'group', 'groups', 'groupâ', 'grow', 'growing', 'grown', 'growth', 'grunt', 'gt', 'guarantee', 'guardian', 'guest', 'guests', 'guidance', 'guide', 'guidelines', 'guilds', 'gulp', 'gym', 'gypsy', 'h', 'hackathon', 'hackday', 'hacking', 'hadoop', 'haircare', 'hana', 'hand', 'handle', 'handling', 'handover', 'hands', 'happen', 'happy', 'hard', 'haridini', 'harnesses', 'haves', 'having', 'hbase', 'hci', 'hdfs', 'hdinsight', 'head', 'health', 'healthcare', 'healthy', 'hear', 'heard', 'heart', 'hearts', 'heat', 'heavily', 'height', 'held', 'help', 'helped', 'helpful', 'helping', 'helps', 'hereâ', 'heroku', 'hesitate', 'hewitt', 'hi_rcddrhzspwbshfunqpguwoogzxymykvl', 'hidden', 'hierarchical', 'hierarchies', 'high', 'higher', 'highest', 'highlighting', 'highly', 'hint', 'hire', 'hirers', 'hirevue', 'hiring', 'history', 'hit', 'hits', 'hive', 'hl', 'ho', 'hoc', 'hold', 'holders', 'holding', 'holdings', 'holistic', 'home', 'homes', 'honest', 'honesty', 'hope', 'horvat', 'hospitals', 'hot', 'hour', 'hourly', 'hours', 'house', 'household', 'households', 'hr', 'href', 'html', 'http', 'https', 'hub', 'hue', 'huge', 'human', 'hunger', 'hunt', 'hurst', 'hybrid', 'hydrogen', 'hypothesis', 'ia', 'iain', 'iam', 'ibis', 'ibm', 'iconic', 'ict', 'id', 'idea', 'ideal', 'ideally', 'ideas', 'identify', 'identifying', 'identity', 'iframe', 'ignite', 'illicit', 'illustrate', 'im', 'imagine', 'img', 'immaculate', 'immediate', 'immediately', 'impact', 'impacted', 'impactful', 'impacts', 'impala', 'impediments', 'imperfect', 'implement', 'implementation', 'implementations', 'implementing', 'implications', 'importance', 'important', 'importantly', 'impressive', 'improve', 'improvement', 'improvements', 'improving', 'incentives', 'incident', 'incl', 'include', 'included', 'includes', 'including', 'inclusion', 'inclusive', 'income', 'incomplete', 'increase', 'incredible', 'incremental', 'incumbents', 'independent', 'independently', 'indicate', 'indicating', 'indicators', 'indices', 'individual', 'individuals'

In [61]:
# Remove job_desc
X_train = X_train.drop('job_desc', axis=1)
X_test = X_test.drop('job_desc', axis=1)

In [62]:
# Convert tfidf_train and tfidf_test to DataFrames (this is to be used only if vectorized jobs_desc is required for model)

df_tfidf_train = pd.DataFrame(tfidf_train.toarray(), columns = tfidf_features)
df_tfidf_test = pd.DataFrame(tfidf_test.toarray(), columns = tfidf_features)

In [63]:
print(X_train.shape)
print(X_test.shape)

(121, 298)
(61, 298)

In [64]:
# Replace with NaN values with zero (this is to be used only if vectorized jobs_desc is required for model))

X_train.fillna(0, inplace=True)
X_test.fillna(0, inplace=True)

In [ ]:
# Predict using Decision Tree Classifier

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

clf_dt = DecisionTreeClassifier() # Initiate Decision Tree as the classifier model

clf_dt.fit(X_train, y_train) # Fit model to the train set

y_pred = clf_dt.predict(X_test) # Predict test set

accuracy_score(y_test, y_pred) # Evaluate test-set accuracy

0.5